*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --symbol-size: calc(var(--cell-size) * 0.8);
  --symbol-color: black;
  --background: white;
  --shadow: lightgrey;
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

/* margins */
.cell:nth-child(3n + 3) {
  border-left: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-right: none;
}

.cell:nth-child(-n + 6) {
  border-bottom: none;
}

/* common effects */
.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: var(--symbol-color);
}

/* x effects */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--symbol-size) * 0.15);
  height: var(--symbol-size);
}

.cell.x::before,
.board.x .cell:hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  background-color: var(--shadow);
}

/* o effects */
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: var(--shadow);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: calc(var(--symbol-size) * 0.85);
  height: calc(var(--symbol-size) * 0.85);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--symbol-size) * 0.6);
  height: calc(var(--symbol-size) * 0.6);
  background-color: var(--background);
}
